// font declarations
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300,400,500&display=swap");

// variables
:root {
  --black: #04151f;
  --white: #e8e8e8;
  --coral: #fc814a;
  --teal: #1b998b;
  --green: #c2e812;
}
