body {
  height: var(--doc-height); // given by the resize.js module

  background-color: var(--black);
  color: var(--white);
  font-family: "Rubik";

  display: grid;
  place-items: center;
}

main {
  padding: 2rem;
  border-radius: 1rem;

  background-color: var(--green-bright);
  background-color: var(--white);
  color: var(--black);
}